In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [49]:
# # train_main.csv - the training set
# # train_geo.csv - supplemental information about geographical data for the training set
# # train_weather.csv - supplemental information about weather data for the training set
# # holidays.csv - supplemental information about the holidays in the city


# train_main = pd.read_csv('train_main.csv')
# train_geo = pd.read_csv('train_geo.csv')
# train_weather = pd.read_csv('train_weather.csv')
# holidays = pd.read_csv('holidays.csv')

In [2]:
test_main = pd.read_csv('test_main.csv')
test_geo = pd.read_csv('test_geo.csv')
test_weather = pd.read_csv('test_weather.csv')
holidays = pd.read_csv('holidays.csv')

In [3]:
test_main.shape

(8496, 4)

In [4]:
test_main.head()

     id        starting_time model_van  num_packages
0  8495  2016/05/18 23:53:00   model_B             1
1  8496  2016/02/29 03:54:00   model_B             1
2  8497  2016/04/06 09:52:00   model_B             1
3  8498  2016/04/12 06:52:00   model_B             2
4  8499  2016/06/11 11:56:00   model_B             1

In [5]:
test_geo

,id,town,start_Longitude,start_Latitude,end_Longitude,end_Latitude
0,12444,Hawkins,-73.988533,40.718079,-73.981163,40.714291
1,12696,Hawkins,-73.994492,40.746063,-74.000748,40.728912
2,15338,Hawkins,-73.983192,40.734978,-73.983742,40.721352
3,10327,Hawkins,-73.983215,40.756275,-73.973015,40.780201
4,15188,Hawkins,-73.959343,40.777290,-73.966911,40.761131
...,...,...,...,...,...,...
8491,13834,Hawkins,-73.977310,40.789562,-73.951462,40.790752
8492,10596,Hawkins,-74.003838,40.744358,-73.995674,40.745018
8493,11053,Hawkins,-74.002754,40.714245,-74.000114,40.717838
8494,16019,Hawkins,-73.969330,40.763802,-73.958298,40.775570
8495,10947,Hawkins,-73.987968,40.743885,-73.977089,40.762115

In [6]:
test_weather

,id,wea_conditions,wea_temp,wea_dptemp,wea_humidity,wea_windspeed,wea_winddir,wea_visibility,wea_pressure,wea_precipitation,wea_fog,wea_rain,wea_snow
0,9555,Clear,3.9,-7.8,43.0,7.4,0,16.1,30.0,NaN,No,No,No
1,9194,Overcast,13.9,8.9,72.0,0.0,0,11.3,29.9,NaN,No,No,No
2,9369,Light_Rain,15.0,7.2,60.0,5.6,0,12.9,30.0,0.0,No,Y,No
3,15665,Light_Snow,-4.4,-8.3,75.0,9.3,0,3.2,30.4,0.0,No,No,Y
4,9352,Clear,7.2,-13.3,22.0,0.0,0,16.1,30.0,NaN,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8491,10770,Clear,6.1,-12.2,26.0,14.8,310,16.1,30.2,NaN,No,No,No
8492,15213,Clear,-7.8,-17.2,48.0,18.5,290,16.1,30.0,NaN,No,No,No
8493,15158,Light_Rain,19.4,18.3,93.0,9.3,0,4.8,29.9,6.1,No,Y,No
8494,14365,Clear,17.8,9.4,58.0,7.4,0,16.1,29.8,NaN,No,No,No
8495,14764,Clear,25.6,14.4,50.0,11.1,230,16.1,29.6,NaN,No,No,No

In [7]:
holidays

          date holiday
0   2016-01-01       Y
1   2016-01-18       Y
2   2016-02-12       Y
3   2016-02-15       Y
4   2016-05-08       Y
5   2016-05-30       Y
6   2016-06-19       Y
7   2016-07-04       Y
8   2016-09-05       Y
9   2016-10-10       Y
10  2016-11-11       Y
11  2016-11-24       Y
12  2016-12-26       Y

In [8]:
test_main.id.nunique()

8496

In [9]:
test_geo.id.nunique()

8496

In [10]:
test_weather.id.nunique()

8496

In [11]:
test_geo = test_geo.drop_duplicates('id')
test_weather = test_weather.drop_duplicates('id')

In [12]:
# train_geo with train_weather
df_merged = pd.merge(test_geo,
                      test_weather,
                      left_on = ["id"],
                      right_on = ["id"],
                      how="inner")

In [13]:
df_merged.shape

(8496, 18)

In [14]:
# df_merged with train_main
df = pd.merge(test_main,
              df_merged,
              left_on = ["id"],
              right_on = ["id"],
              how="inner")

In [15]:
df.shape

(8496, 21)

In [16]:
df.head()

,id,starting_time,model_van,num_packages,town,start_Longitude,start_Latitude,end_Longitude,end_Latitude,wea_conditions,...,wea_dptemp,wea_humidity,wea_windspeed,wea_winddir,wea_visibility,wea_pressure,wea_precipitation,wea_fog,wea_rain,wea_snow
0,8495,2016/05/18 23:53:00,model_B,1,Hawkins,-74.001488,40.741226,-73.949318,40.780621,Overcast,...,6.1,64.0,0.0,0,16.1,30.1,0.0,No,No,No
1,8496,2016/02/29 03:54:00,model_B,1,Hawkins,-73.973564,40.749073,-73.972549,40.760288,Clear,...,-1.1,46.0,9.3,0,16.1,29.6,NaN,No,No,No
2,8497,2016/04/06 09:52:00,model_B,1,Hawkins,-73.975304,40.790001,-74.014374,40.714127,Haze,...,17.8,71.0,9.3,250,8.0,30.0,NaN,No,No,No
3,8498,2016/04/12 06:52:00,model_B,2,Hawkins,-74.001671,40.730682,-73.980858,40.760967,Scattered_Clouds,...,-6.1,49.0,18.5,300,16.1,30.2,NaN,No,No,No
4,8499,2016/06/11 11:56:00,model_B,1,Hawkins,-73.973259,40.756893,-73.968254,40.767891,Clear,...,0.0,39.0,11.1,320,16.1,30.2,NaN,No,No,No

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8496 entries, 0 to 8495
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 8496 non-null   int64
 1   starting_time      8496 non-null   object
 2   model_van          8496 non-null   object
 3   num_packages       8496 non-null   int64
 4   town               8496 non-null   object
 5   start_Longitude    8496 non-null   float64
 6   start_Latitude     8496 non-null   float64
 7   end_Longitude      8496 non-null   float64
 8   end_Latitude       8496 non-null   float64
 9   wea_conditions     8496 non-null   object
 10  wea_temp           8487 non-null   float64
 11  wea_dptemp         8487 non-null   float64
 12  wea_humidity       8487 non-null   float64
 13  wea_windspeed      7867 non-null   float64
 14  wea_winddir        8496 non-null   int64
 15  wea_visibility     8266 non-null   float64
 16  wea_pressure       8270 non-null   float64
 17  wea_precipitation  1310 non-null   float64
 18  wea_fog            8496 non-null   object
 19  wea_rain           8496 non-null   object
 20  wea_snow           8496 non-null   object
dtypes: float64(11), int64(3), object(7)
memory usage: 1.4+ MB

In [18]:
df.isnull().sum()

id                      0
starting_time           0
model_van               0
num_packages            0
town                    0
start_Longitude         0
start_Latitude          0
end_Longitude           0
end_Latitude            0
wea_conditions          0
wea_temp                9
wea_dptemp              9
wea_humidity            9
wea_windspeed         629
wea_winddir             0
wea_visibility        230
wea_pressure          226
wea_precipitation    7186
wea_fog                 0
wea_rain                0
wea_snow                0
dtype: int64

In [19]:
df['date'] = pd.to_datetime(df.starting_time).dt.date

In [20]:
df.head()

,id,starting_time,model_van,num_packages,town,start_Longitude,start_Latitude,end_Longitude,end_Latitude,wea_conditions,...,wea_humidity,wea_windspeed,wea_winddir,wea_visibility,wea_pressure,wea_precipitation,wea_fog,wea_rain,wea_snow,date
0,8495,2016/05/18 23:53:00,model_B,1,Hawkins,-74.001488,40.741226,-73.949318,40.780621,Overcast,...,64.0,0.0,0,16.1,30.1,0.0,No,No,No,2016-05-18
1,8496,2016/02/29 03:54:00,model_B,1,Hawkins,-73.973564,40.749073,-73.972549,40.760288,Clear,...,46.0,9.3,0,16.1,29.6,NaN,No,No,No,2016-02-29
2,8497,2016/04/06 09:52:00,model_B,1,Hawkins,-73.975304,40.790001,-74.014374,40.714127,Haze,...,71.0,9.3,250,8.0,30.0,NaN,No,No,No,2016-04-06
3,8498,2016/04/12 06:52:00,model_B,2,Hawkins,-74.001671,40.730682,-73.980858,40.760967,Scattered_Clouds,...,49.0,18.5,300,16.1,30.2,NaN,No,No,No,2016-04-12
4,8499,2016/06/11 11:56:00,model_B,1,Hawkins,-73.973259,40.756893,-73.968254,40.767891,Clear,...,39.0,11.1,320,16.1,30.2,NaN,No,No,No,2016-06-11

In [21]:
#holidays

In [22]:
holidays_list = holidays.date.values
holidays_list

array(['2016-01-01', '2016-01-18', '2016-02-12', '2016-02-15',
       '2016-05-08', '2016-05-30', '2016-06-19', '2016-07-04',
       '2016-09-05', '2016-10-10', '2016-11-11', '2016-11-24',
       '2016-12-26'], dtype=object)

In [23]:
holiday = []
for i in df.date.values:
    if str(i) in holidays_list:
        holiday.append('Y')
    else:
        holiday.append('N')

In [24]:
df['holidays'] = holiday

In [25]:
df['holidays'].value_counts()

N    8203
Y     293
Name: holidays, dtype: int64

In [26]:
df.starting_time = pd.to_datetime(df.starting_time)

In [27]:
df.starting_time[0].second

0

In [28]:
minute = [x.minute for x in df.starting_time]
hour = [x.hour for x in df.starting_time]
year = [x.year for x in df.starting_time]
month = [x.month for x in df.starting_time]
day = [x.day for x in df.starting_time]

In [29]:
df['year'] = year
df['month'] = month
df['day'] = day
df['hour'] = hour
df['minute'] = minute

In [30]:
df.columns

Index(['id', 'starting_time', 'model_van', 'num_packages', 'town',
       'start_Longitude', 'start_Latitude', 'end_Longitude', 'end_Latitude',
       'wea_conditions', 'wea_temp', 'wea_dptemp', 'wea_humidity',
       'wea_windspeed', 'wea_winddir', 'wea_visibility', 'wea_pressure',
       'wea_precipitation', 'wea_fog', 'wea_rain', 'wea_snow', 'date',
       'holidays', 'year', 'month', 'day', 'hour', 'minute'],
      dtype='object')

In [32]:
submission_data = {'id' : df['id']}

In [33]:
ignore_columns = ['id','starting_time','date']
test_df = df.drop(ignore_columns,axis = 1)

In [34]:
test_df.columns

Index(['model_van', 'num_packages', 'town', 'start_Longitude',
       'start_Latitude', 'end_Longitude', 'end_Latitude', 'wea_conditions',
       'wea_temp', 'wea_dptemp', 'wea_humidity', 'wea_windspeed',
       'wea_winddir', 'wea_visibility', 'wea_pressure', 'wea_precipitation',
       'wea_fog', 'wea_rain', 'wea_snow', 'holidays', 'year', 'month', 'day',
       'hour', 'minute'],
      dtype='object')

In [84]:
# X = train_df.drop('delivery_time' , axis = 1)
# y = train_df['delivery_time']

In [35]:
# from sklearn.model_selection import train_test_split
# X_train , X_test , y_train , y_test = train_test_split(X , y)
# X_train.shape , y_train.shape , X_test.shape , y_test.shape

In [37]:
cat_vars = ['model_van','wea_conditions', 'wea_fog' , 'wea_rain','wea_snow']
num_vars = list(set(test_df.columns) - set(cat_vars))

In [38]:
len(cat_vars) + len(num_vars)

25

In [39]:
test_df.median()

num_packages            1.000000
start_Longitude       -73.981834
start_Latitude         40.754435
end_Longitude         -73.980003
end_Latitude           40.755392
wea_temp               11.100000
wea_dptemp              2.800000
wea_humidity           55.000000
wea_windspeed           9.300000
wea_winddir             0.000000
wea_visibility         16.100000
wea_pressure           30.000000
wea_precipitation       0.500000
year                 2016.000000
month                   3.000000
day                    15.000000
hour                   14.000000
minute                 53.000000
dtype: float64

In [40]:
test_df = test_df.fillna(test_df.median())

In [50]:
from sklearn.preprocessing import StandardScaler , OneHotEncoder

In [41]:
test_df = pd.get_dummies(test_df , drop_first = True)

In [42]:
test_df.shape

(8496, 36)

In [43]:
test_df.columns

Index(['num_packages', 'start_Longitude', 'start_Latitude', 'end_Longitude',
       'end_Latitude', 'wea_temp', 'wea_dptemp', 'wea_humidity',
       'wea_windspeed', 'wea_winddir', 'wea_visibility', 'wea_pressure',
       'wea_precipitation', 'year', 'month', 'day', 'hour', 'minute',
       'model_van_model_B', 'wea_conditions_Haze', 'wea_conditions_Heavy_Rain',
       'wea_conditions_Heavy_Snow', 'wea_conditions_Light_Freezing_Rain',
       'wea_conditions_Light_Rain', 'wea_conditions_Light_Snow',
       'wea_conditions_Mostly_Cloudy', 'wea_conditions_Overcast',
       'wea_conditions_Partly_Cloudy', 'wea_conditions_Rain',
       'wea_conditions_Scattered_Clouds', 'wea_conditions_Snow',
       'wea_conditions_Unknown', 'wea_fog_Y', 'wea_rain_Y', 'wea_snow_Y',
       'holidays_Y'],
      dtype='object')

In [44]:
set(['num_packages', 'start_Longitude', 'start_Latitude', 'end_Longitude',
       'end_Latitude', 'wea_temp', 'wea_dptemp', 'wea_humidity',
       'wea_windspeed', 'wea_winddir', 'wea_visibility', 'wea_pressure',
       'wea_precipitation', 'year', 'month', 'day', 'hour', 'minute',
       'model_van_model_B', 'wea_conditions_Haze', 'wea_conditions_Heavy_Rain',
       'wea_conditions_Heavy_Snow', 'wea_conditions_Light_Freezing_Rain',
       'wea_conditions_Light_Rain', 'wea_conditions_Light_Snow',
       'wea_conditions_Mostly_Cloudy', 'wea_conditions_Overcast',
       'wea_conditions_Partly_Cloudy', 'wea_conditions_Rain',
       'wea_conditions_Scattered_Clouds', 'wea_conditions_Snow',
       'wea_conditions_Unknown', 'wea_fog_Y', 'wea_rain_Y', 'wea_snow_Y',
       'holidays_Y']) - set(['num_packages', 'start_Longitude', 'start_Latitude', 'end_Longitude',
       'end_Latitude', 'wea_temp', 'wea_dptemp', 'wea_humidity',
       'wea_windspeed', 'wea_winddir', 'wea_visibility', 'wea_pressure',
       'wea_precipitation', 'year', 'month', 'day', 'hour', 'minute',
       'model_van_model_B', 'wea_conditions_Haze', 'wea_conditions_Heavy_Rain',
       'wea_conditions_Light_Freezing_Rain', 'wea_conditions_Light_Rain',
       'wea_conditions_Light_Snow', 'wea_conditions_Mostly_Cloudy',
       'wea_conditions_Overcast', 'wea_conditions_Partly_Cloudy',
       'wea_conditions_Rain', 'wea_conditions_Scattered_Clouds',
       'wea_conditions_Snow', 'wea_conditions_Unknown', 'wea_fog_Y',
       'wea_rain_Y', 'wea_snow_Y', 'holidays_Y'])

{'wea_conditions_Heavy_Snow'}

In [46]:
test_df = test_df.drop('wea_conditions_Heavy_Snow',axis = 1)

In [48]:
test_df.isnull().sum().sum()

0

In [51]:
scaler = StandardScaler().fit(test_df)
test_df_std = scaler.transform(test_df)

In [52]:
test_df_std.shape

(8496, 35)

In [53]:
from sklearn.ensemble import RandomForestRegressor

In [61]:
import pickle

# and later you can load it
with open('best_model.pkl', 'rb') as f:
    regr = pickle.load(f)

In [64]:
y = regr.predict(test_df_std)

In [63]:
y.mean()

769.5723734368128

In [65]:
y.mean()

769.5723734368128

In [66]:
submission_data['delivery_time'] = y

In [67]:
pd.DataFrame(submission_data).to_csv('submission.csv',index = False)